#confirmationModal {
    border-radius: 3%;
}

#confirmationModal:focus {
    outline: none;    
}

.modalButton {
    border-radius: 10%;
    margin: .5%;
}

.searchBar {
    padding: 2%;
}

.deletingConfirmation {
    margin: 5%;
}